<div class="modal-header">
    <h3>
        Anlagen zum Vorgang
    </h3>
</div>
<div class="modal-body">
    <div class="panel panel-default panel-details">
        <div class="panel-heading">
            <h3 class="panel-title ng-binding">
                <b>{{modalOptions.headline}}:</b> {{modalOptions.id}},
                <b>Startzeitpunkt:</b> {{modalOptions.startDate| date : format: "dd.mm.YYYY"}},
                <b>Endzeitpunkt:</b> {{modalOptions.endDate| date : format: "dd.mm.YYYY"}}
            </h3>
        </div>
        <div class="panel-body">
            <div class="grid table" data-ui-grid="substations" data-ui-grid-pagination data-ui-grid-selection></div>
            <div ng-include="'app/partials/custompaging.html'"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" 
            data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
</div>
