<form name="settingsForm" class="form-horizontal" novalidate>
    <div class="row">
        <div class="form-group">
            <label for="datestarted" class="control-label col-xs-2">{{'SETTINGS.DATESTARTED'| translate}} *</label>
            <div class="controls col-xs-4" data-ng-class="{'has-error': settingsForm.datestarted.$invalid}">
                <input type="text" placeholder="erforderlich" data-ng-required="true" value="" startrange data-ng-model="dateStarted" class="form-control" id="datestarted" name="datestarted">
            </div>
        </div>
        <div class="form-group">
            <label for="datefinished" class="control-label col-xs-2">{{'SETTINGS.DATEFINISHED' | translate}} *</label>

            <div class="controls col-xs-4" data-ng-class="{'has-error': settingsForm.datefinished.$invalid}">
                <input type="text" placeholder="erforderlich" data-ng-required="true" value="" endrange data-ng-model="dateFinished" class="form-control" id="datefinished" name="datefinished">
            </div>
        </div>
        <div class="form-group">
            <label for="reasonofreduction" class="control-label col-xs-2">{{'SETTINGS.REASONOFREDUCTION'| translate}}</label>
            <div class="col-xs-4">
                <input id="reasonofreduction" type="text" data-ng-model="activity.reasonOfReduction" class="form-control" readonly ng-required="true">
            </div>
        </div>
        <div class="form-group">
            <label for="requiredAdditionalReductionPower"
                   data-ng-class="{'has-error': settingsForm.requiredAdditionalReductionPower.$invalid}"
                   class="control-label col-xs-2">Änderung der Abregelleistung um *</label>
            <div class="col-xs-2">
                <div class="input-group input-group-sm"
                     data-ng-class="{'has-error': activity.reductionValue < 0 || !activity.reductionValue }">
                    <input type="number" data-ng-required="true" data-ng-model="activity.reductionValue"
                           min="0.01" step="any" name="requiredAdditionalReductionPower" id="requiredAdditionalReductionPower"
                           class="form-control">
                    <span id="requiredreductionaddon" class="input-group-addon">MW</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="radio-inline">
                            <input type="radio" ng-value="true" name="reductionPositive" data-ng-required="true"
                                   data-ng-model="activity.reductionPositive">
                            Erhöhung
                        </label>
                    </div>
                    <div class="col-xs-2">
                        <label class="radio-inline" style="opacity:0.3;">
                            <input type="radio" ng-value="false" name="reductionPositive" data-ng-required="true"
                                   data-ng-model="activity.reductionPositive" disabled="disabled">
                            Reduzierung
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Speisepunkttyp</label>
            <div class="col-xs-4">
                <input type="text" data-ng-model="activity.pointOfInjectionTypeString" class="form-control" readonly ng-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Speisepunkte</label>
            <div class="col-xs-4">
                <div class="list-group">
                    <a href="" class="list-group-item">
                        <p ng-repeat="ip in activity.pointOfInjectionList" class="list-group-item-text">
                            {{ip}}
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="control-label col-xs-2">{{'SETTINGS.DESCRIPTION' | translate}} *</label>

            <div class="col-xs-4" data-ng-class="{'has-error': !activity.description || description.$invalid}">
                <textarea id="description" data-ng-required="true" data-ng-model="activity.description" rows="3"
                          class="form-control"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-warning"
             data-ng-show="settingsForm.$submitted &&
                                     (settingsForm.datestarted.$invalid ||
                                             settingsForm.datefinished.$invalid ||
                                             !activity.reasonOfReduction ||
                                             settingsForm.requiredReductionPower.$invalid ||
                                             isNoAreaDefined() ||
                                             settingsForm.description.$invalid || !activity.description)">
            <div class="warning"
                 data-ng-show="settingsForm.$submitted && settingsForm.datestarted.$invalid">
                {{'SETTINGS.DATESTARTED.ERROR'| translate}}
            </div>
            <div class="warning"
                 data-ng-show="settingsForm.$submitted && settingsForm.datefinished.$invalid">
                {{'SETTINGS.DATEFINISHED.ERROR'| translate}}
            </div>
            <div class="warning"
                 data-ng-show="settingsForm.$submitted && !activity.reasonOfReduction">
                {{'SETTINGS.REASONOFREDUCTION.ERROR'| translate}}
            </div>
            <div class="warning"
                 data-ng-show="settingsForm.$submitted && settingsForm.requiredReductionPower.$invalid">
                {{'SETTINGS.REQUIREDREDUCTION.ERROR'| translate}}
            </div>
            <div class="warning"
                 data-ng-show="settingsForm.$submitted && isNoAreaDefined()">
                {{'SETTINGS.AREA.ERROR'| translate}}
            </div>
            <div class="warning"
                 data-ng-show="settingsForm.$submitted && settingsForm.description.$invalid || !activity.description">
                {{'SETTINGS.DESCRIPTION.ERROR'| translate}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <div class="pull-right">
                    *{{'MANDATORY' | translate}}
                </div>
            </div>
        </div>

        <div class="row navheader">
            <div class="col-xs-offset-2 col-xs-4">
                <button class="btn btn-default" type="button" data-ui-sref="Regulation.CreateDownRegulation">
                    {{'BACK' | translate}}
                </button>
                <button class="btn btn-default" type="button" data-ui-sref="state1({show: 'Aktiv'})">
                    {{ 'CANCEL' | translate }}
                </button>
                <button class="btn btn-primary pull-right" type="submit" ui-sref="Regulation.CreateProposal.Main" ng-disabled="settingsForm.$submitted && settingsForm.$invalid">
                    Abregelvorschlag erstellen
                </button>
            </div>
        </div>
    </div>
</form>
